<?xml version="1.0" encoding="utf-8" ?>
<Tree>
  <TreeNode Text="Administración del Sistema" SingleClickExpand="true">
    <TreeNode Text="Parámetros" NavigateUrl="~/Common/FRM001.aspx" />
    <TreeNode Text="Data Jerárquica" NavigateUrl="~/Common/FRM011.aspx" />
    <TreeNode Text="Application Hierarchy" NavigateUrl="~/Security/FRM007.aspx" />
    <TreeNode Text="Nodo" NavigateUrl="~/Common/FRM005.aspx" />
    <TreeNode Text="Usuario" NavigateUrl="~/Security/FRM002.aspx" />
    <TreeNode Text="Log" NavigateUrl="~/Common/FRM009.aspx" />
  </TreeNode>
  <TreeNode Text="Logística" SingleClickExpand="true">
    <TreeNode Text="Almacenes" NavigateUrl="~/Logistic/FRM015.aspx" />
    <TreeNode Text="Consulta de Stocks de Productos" NavigateUrl="~/Logistic/FRM017.aspx" />
    <TreeNode Text="Consulta de Movimientos" NavigateUrl="~/Logistic/FRM016.aspx" />
  </TreeNode>
</Tree>